<nav class="site-menubar site-menubar-dark">
    <div class="site-menubar-body">
        <div class="tab-content height-full" id="qadmin-navTabs">
              
            <div class="tab-pane animation-fade height-full active" id="qadmin-navTabsItem-2" role="tabpanel">
                <%= render file: 'layouts/includes/site-menu/base/components' %>
            </div>
            <div class="tab-pane animation-fade height-full" id="qadmin-navTabsItem-3" role="tabpanel">
                <%= render file: 'layouts/includes/site-menu/base/pages' %>
            </div>
            <div class="tab-pane animation-fade height-full" id="qadmin-navTabsItem-4" role="tabpanel">
                <%= render file: 'layouts/includes/site-menu/base/tables' %>
            </div>
            <div class="tab-pane animation-fade height-full" id="qadmin-navTabsItem-5" role="tabpanel">
                <%= render file: 'layouts/includes/site-menu/base/forms' %>
            </div>
            <div class="tab-pane animation-fade height-full" id="qadmin-navTabsItem-6" role="tabpanel">
                <%= render file: 'layouts/includes/site-menu/base/charts' %>
            </div>
            <div class="tab-pane animation-fade height-full" id="qadmin-navTabsItem-7" role="tabpanel">
                <%= render file: 'layouts/includes/site-menu/base/menu' %>
            </div>
            <div class="tab-pane animation-fade height-full" id="qadmin-navTabsItem-8" role="tabpanel">
                <%= render file: 'layouts/includes/site-menu/base/system' %>
            </div>

        </div>
    </div>
</nav>