<nav class="site-menubar site-menubar-dark">
    <div class="site-menubar-body">
        <div class="tab-content h-full" id="qadmin-navTabs">
              
            <div class="tab-pane animation-fade h-full active" id="qadmin-navTabsItem-2" role="tabpanel">
                <%= render file: 'layouts/includes/site-menu/topbar/components' %>
            </div>
            <div class="tab-pane animation-fade h-full" id="qadmin-navTabsItem-3" role="tabpanel">
                <%= render file: 'layouts/includes/site-menu/topbar/pages' %>
            </div>
            <div class="tab-pane animation-fade h-full" id="qadmin-navTabsItem-4" role="tabpanel">
                <%= render file: 'layouts/includes/site-menu/topbar/tables' %>
            </div>
            <div class="tab-pane animation-fade h-full" id="qadmin-navTabsItem-5" role="tabpanel">
                <%= render file: 'layouts/includes/site-menu/topbar/forms' %>
            </div>
            <div class="tab-pane animation-fade h-full" id="qadmin-navTabsItem-6" role="tabpanel">
                <%= render file: 'layouts/includes/site-menu/topbar/charts' %>
            </div>
            <div class="tab-pane animation-fade h-full" id="qadmin-navTabsItem-7" role="tabpanel">
                <%= render file: 'layouts/includes/site-menu/topbar/menu' %>
            </div>
            <div class="tab-pane animation-fade h-full" id="qadmin-navTabsItem-8" role="tabpanel">
                <%= render file: 'layouts/includes/site-menu/topbar/system' %>
            </div>

        </div>
    </div>
</nav>