<!DOCTYPE html>
<html class="no-js css-menubar" lang="zh-cn">
    <head>
        <title>主页</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- 移动设备 viewport -->
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
        <meta name="author" content="qadmin.com">
        <!-- 360浏览器默认使用Webkit内核 -->
        <meta name="renderer" content="webkit">
        <!-- 禁止搜索引擎抓取 -->
        <meta name="robots" content="nofollow">
        <!-- 禁止百度SiteAPP转码 -->
        <meta http-equiv="Cache-Control" content="no-siteapp">
        <!-- Chrome浏览器添加桌面快捷方式（安卓） -->
        <link rel="icon" type="image/png" href="/static/images/favicon.png">
        <meta name="mobile-web-app-capable" content="yes">
        <!-- Safari浏览器添加到主屏幕（IOS） -->
        <link rel="icon" sizes="192x192" href="/static/images/apple-touch-icon.png">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="QAdmin">
        <!-- Win8标题栏及ICON图标 -->
        <link rel="apple-touch-icon-precomposed" href="/static/images/apple-touch-icon.png">
        <meta name="msapplication-TileImage" content="/static/images/app-icon72x72@2x.png">
        <meta name="msapplication-TileColor" content="#62a8ea">

        <!--[if lt IE 9]>
        <meta http-equiv="refresh" content="0; url='/portal/browser.html'" />
        <![endif]-->
        
        <!-- 样式 -->
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
        <% if(@type=='iframe') %>
            <link rel="stylesheet" href="/static/skins/<%=@theme%>/mainframe/default.css" data-type="mainframe" id="qadmin-siteStyle">
        <% else  %>
            <link rel="stylesheet" href="/static/skins/<%=@theme%>/mainframe/default.css">
            <link rel="stylesheet" href="/static/skins/<%=@theme%>/pjax/default.css" data-type="pjax" id="qadmin-siteStyle">
        <% end %>

        <link rel="stylesheet" href="/static/css/patch.css">

        <link rel="stylesheet" href="/static/css/tour.css">
        <link rel="stylesheet" href="/vendor/magnific-popup/dist/magnific-popup.css">
        <link rel="stylesheet" href="/static/css/lightbox.css">
        <link rel="stylesheet" href="/vendor/alertifyjs/dist/css/alertify.css">
        <link rel="stylesheet" href="/vendor/bootstrap-sweetalert/dist/sweetalert.css">

        <!-- 图标 CSS-->
        <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/lib/web-icons/css/web-icons.css">

        <!-- 插件 CSS -->
        <!--[if gt IE 9]><!--> 
        <link rel="stylesheet" href="/vendor/animsition/dist/css/animsition.min.css">
        <!--<![endif]-->
        <link rel="stylesheet" href="/lib/toastr/build/toastr.css">
        <link rel="stylesheet" href="/lib/layer/retina.css">
        <style>
            body{
                padding-top: 60px;
                overflow: hidden;
            }
        </style>
        
        <!--[if lt IE 10]>
        <script src="/vendor/media-match/media.match.min.js"></script>
        <script src="/vendor/respond/dest/respond.min.js"></script>
        <![endif]-->
        <script src="/static/js/ie/array.js"></script>
        <script src="/static/js/ie/string.js"></script>
        <script src="/static/js/ie/dom.js"></script>

        <!-- 插件 -->
        <script src="/vendor/jquery/dist/jquery.min.js"></script>
        <script src="/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/vendor/lodash/dist/lodash.min.js"></script>
        <script src="/lib/modernizr/modernizr.min.js"></script>
        <script src="/vendor/breakpoints.js/dist/breakpoints.min.js"></script>

        <% if(@type!='iframe') %>
        <script src="/lib/toastr/toastr.js"></script>
        <script src="/vendor/bootbox.js/dist/bootbox.all.min.js"></script>
        <script src="/lib/layer/layer.min.js"></script>
        <% end %>
        
        <!-- 核心  -->
        <script src="/static/js/site.js"></script>
        <script src="/static/js/components.js"></script>

        <script>
        Breakpoints();
        </script>

        <%#= csrf_meta_tags %>
        <%#= csp_meta_tag %>
    
        <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>
    <body class="site-contabs-open site-menubar-unfold" data-theme="<%=@theme%>">
        <%= render file: "layouts/includes/site-navbar/site-navbar" %>
        <%= render file: "layouts/includes/site-menu/site-menu" %>
        <%= render file: "layouts/includes/site-tabs/site-tabs" %>

        <main class="site-page">
            <% if(@type=='iframe') %>
                <div class="page-container" id="qadmin-pageContent">
                    <iframe src="" frameborder="0" name="iframe-0" class="page-frame animation-fade active"></iframe>
                </div>
            <% else %>
                <div class="page-container h-full" id="qadmin-pageContent" style="overflow:auto;">
                    <%= yield %>
                </div>
            <% end %>
            <div class="page-loading vertical-align text-center">
                <div class="page-loader loader-default loader vertical-align-middle" data-type="default"></div>
            </div>
        </main>

        <%= render file: "layouts/includes/site-footer/site-footer" %>
        
        <!-- 插件 -->
        <script src="/lib/jquery-pjax/jquery.pjax.js"></script>
        <script src="/vendor/jquery-asHoverScroll/dist/jquery-asHoverScroll.min.js"></script>
        <script src="/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
        
    </body>
</html>
